In [1]:
name = "Arjun"
def printName():
    name = "Sathish"
    print("Name:",name)
printName()
print("Name: ",name)

Name: Sathish
Name:  Arjun

In [2]:
name = "Arjun"
def printName():
    name = "Sathish"
    print("Name:",name)
    print("Name:",name)
printName()

Name: Sathish
Name: Sathish

Global Variable: Outside of all the functions
Local Variable: Within a function block
scope of global variable is both inside an outside the func.
scope of local variable is only iside function
local variable overwrites the global variable ig given inside a function

In [1]:
#eg
name = input("Enter name: ")
def example():
    sub = "JAVA"
    print("I dont know",sub)
    print("My Name is",name)
def display():
    var = "songs"
    print("I Hate",var)
    print("My Name is",name)
example()
display()

Enter name: Sats
I dont know JAVA
My Name is Sats
I Hate songs
My Name is Sats

In [5]:
num1 = int(input("Enter value:")) #global variable
num2 = int(input("Enter value:")) #global Varible
def add():
    print("Addition:",num1+num2)
def sub():
    print("Subtraction:",num1-num2)
def mul():
    print("Multiplication:",num1*num2)
def div():
    print("Division:",num1/num2)
inp = int(input("Enter\n'1'For Addition \n'2'For Subraction \n'3'For Multiplication \n'4'For Division"))
if (inp == 1):
    add()
elif (inp == 2):
    sub()
elif (inp == 3):
    mul()
elif (inp == 4):
    div()
else:
    print('Please Enter an Valid Input')

Enter value:8
Enter value:7
Enter
'1'For Addition
'2'For Subraction
'3'For Multiplication
'4'For Division5
Please Enter an Valid Input

'float' object cannot be interpreted as an integer

set.add() takes exactly one argument (2 given)

In [5]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [6]:
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
        x += 1
        print(j)
    print(x)

-1
-2
-3
-4
-5
-6
-7
-8
-9
9
-1
-2
-3
-4
-5
-6
-7
-8
-9
18
-1
-2
-3
-4
-5
-6
-7
-8
-9
27
-1
-2
-3
-4
-5
-6
-7
-8
-9
36
-1
-2
-3
-4
-5
-6
-7
-8
-9
45
-1
-2
-3
-4
-5
-6
-7
-8
-9
54
-1
-2
-3
-4
-5
-6
-7
-8
-9
63
-1
-2
-3
-4
-5
-6
-7
-8
-9
72
-1
-2
-3
-4
-5
-6
-7
-8
-9
81
-1
-2
-3
-4
-5
-6
-7
-8
-9
90

In [11]:

def parking_charge(time):

    if (inp == 1):
        
        print("The total fare is ",time*10)
    elif (inp == 2):
        time = int(input("Enter the number of Hours:"))
        print("The total fare is ",time*15)
    elif (inp == 3):
        time = int(input("Enter the number of Hours:"))
        print("The total fare is ",time*20)
inp = int(input("Enter\n'1'For Bike \n'2'For Car \n'3'For Any heavy load vehicle"))


parking_charge(time = int(input("Enter the number of Hours:")))

Enter
'1'For Bike
'2'For Car
'3'For Any heavy load vehicle4
Enter the number of Hours:5

## MODULE

In [8]:
# A module is a file containing python definitions and statements.
# can be function, class, variable

In [9]:
parking_charge()

In [10]:
import calendar as c

In [11]:
print(c.month(2022,9))

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [13]:
year = int(input("Enter the year: "))
mon = int(input("Enter the Month: "))
print(c.month(year,mon))

Enter the year: 2022
Enter the Month: 5
      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [14]:
year = int(input("Enter the year: "))
print(c.calendar(year))

Enter the year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [2]:
def Hanoi(n,one,two,three):
    if n>0:
        Hanoi(n-1,one,three,two)
        if one:
            three.append(one.pop())
        Hanoi(n-1,two,one,three)
one = [1,2,3,4]
three = []
two = []
Hanoi(len(one),one,two,three)
print(one)
print(two)
print(three)

[]
[]
[1, 2, 3, 4]