# Module1

## For Loop

In [9]:
for i in range (65,68):
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC

In [13]:
for i in range(3):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12

In [20]:
n=4
for i in range(n):
    print('1'*i,end='')
    print()

1
11
111

In [21]:
n=4
for i in range(1,n):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123

In [23]:
n = 4
for i in range(n):
    print('# '*i,end='')
    print() 
    print()

#

# #

# # #

In [27]:
#que1
for i in range (65,68):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()
#que2
n=4
for i in range(n):
    for j in range(1,i+1):
        print(j,end='')
    print()
#que3    
n=4
for i in range(n):
    print('1'*i,end='')
    print()
#que4    
n = 4
for i in range(n):
    print('# '*i,end='')
    print() 
    print()

A
A B
A B C

1
12
123

1
11
111


#

# #

# # #

## While Loop

In [35]:
num=int(input("enter number: "))
rev=0
temp=num
while num>0:  
    digit = num%10
    rev=rev*10+digit
    num = num//10
print("rev of number:",rev)

enter number: 45
rev of number: 54

In [37]:
num=int(input("enter number: "))
rev=0
temp=num
while num>0:  
    digit = num%10
    rev=rev*10+digit
    num = num//10
print("rev of number:",rev)
if temp == rev:
    print("its an palindrome")
else:
    print("It is not")

enter number: 47
rev of number: 74
It is not

In [38]:
num=int(input("enter number: "))
sum_val=0
temp=num
while num>0:  
    digit = num%10
    sum_val=sum_val+digit
    num = num//10
print("Sum of digits is",sum_val)

enter number: 456
Sum of digits is 15

In [42]:
num=int(input("enter number: "))
sum_val=0
temp=num
while num>0:  
    digit = num%10
    sum_val=sum_val+digit**3
    num = num//10
print("Sum of cube of digits is",sum_val)
if temp == sum_val:
    print("Its an Armstrong number")
else:
    print("Its not")

enter number: 5
Sum of cube of digits is 125
Its not

In [46]:
num = int(input("Enter a number: "))
temp = num
product = 1
sum_val = 0

while num > 0:
    digit = num % 10
    product = product*digit
    sum_val = sum_val + digit
    num = num//10
    
print(product)
print(sum_val)
result = product + sum_val

if(result == temp):
    print("Its a two digit Special number")
else:
    print("Its not a two digit Special number")

Enter a number: 59
45
14
Its a two digit Special number

## ConditionalStatements

In [58]:
sal=float(input("Enter you current salary amount:"))
exp=int(input("Enter you work experience in years:"))

bonus=0
if(sal<10000):
    bonus=0.12*sal
elif(exp<2):
    bonus=0.2*sal
elif(exp>=5):
    bonus=0.13*sal
else:
    print("Enter the details required correctly")  
print("Your bonus amount:",bonus)       
print("Your new salary :",sal+bonus)

Enter you current salary amount:9999
Enter you work experience in years:5
Your bonus amount: 1199.8799999999999
Your new salary : 11198.88

In [60]:
print("Welcome..")
while True:
    print('1.Model\n2.Colour\n3.Price\n4.Location\n5.Exit')
    ch=int(input('Enter choice:'))
    if ch==1:
        print('1.Royal Enfield\n2.Pulsar\n3.KTM Duke')
        print("For more info about model select the respective options")
        sel = int(input("1 for RE \n2 for Pulsar\n3 for KTM Duke" ))
        if sel == 1:
            print("Colours available are grey,black")
            print("Cost of the bike is 1,50,000")
            print("Available in the location: Porur,Adayar")
        if sel == 2:
            print("Colours available are Black,Red")
            print("Cost of the bike is 1,20,000")
            print("Available in the location: valsaravakkam,T Nagar")
        if sel == 3:
            print("Colours available are Orange")
            print("Cost of the bike is 2,00,000")
            print("Available in the location: Katupakkam,Vadapalani")

    elif ch==2:
        print("""For Royal Enfield the Colours available are grey,black
        For Pulsar the Colours available are Black,Red
        For Duke the Colours available are Orange""")
        
    elif ch==3:
        print('all price')
    elif ch==4:
        print('all loc')
    elif ch==5:
        print('bye')
        break
    else:
        print('imcorrect opt')

Welcome..
1 for RE
2 for Pulsar
3 for KTM Duke1
Colours available are grey,black
Cost of the bike is 1,50,000
Available in the location: Porur,Adayar

In [62]:
print("Welcome..")
while 1:
    print('1 for Model')
    ch=int(input('Enter choice:'))
    if ch==1:
        print('Available Models:\n1.Royal Enfield\n2.Pulsar\n3.KTM Duke')
        sel = int(input("1 for Royal Enfield\n2 for Pulsar\n3 for KTM Duke"))
        if sel == 1:
            print("1 for Royal Enfield Himalayan 2 for Royal En")
        if sel == 2:
            print("Colours available are Black,Red")
            print("Cost of the bike is 1,20,000")
            print("Available in the location: valsaravakkam,T Nagar")
        if sel == 3:
            print("Colours available are Orange")
            print("Cost of the bike is 2,00,000")
            print("Available in the location: Katupakkam,Vadapalani")

Welcome..
1 for Model
Enter choice:1
Available Models:
1.Royal Enfield
2.Pulsar
3.KTM Duke
1.Royal Enfield
2.Pulsar
3.KTM Duke1
Colours available are grey,black
Cost of the bike is 1,50,000
Available in the location: Porur,Adayar
1 for Model
Enter choice:2
1 for Model
Enter choice:1
Available Models:
1.Royal Enfield
2.Pulsar
3.KTM Duke
1.Royal Enfield
2.Pulsar
3.KTM Duke3
Colours available are Orange
Cost of the bike is 2,00,000
Available in the location: Katupakkam,Vadapalani
1 for Model
Enter choice:5
1 for Model
Enter choice:5
1 for Model
Enter choice:1
Available Models:
1.Royal Enfield
2.Pulsar
3.KTM Duke

KeyboardInterrupt: Interrupted by user

1.Royal Enfield
2.Pulsar
3.KTM Duke

# Module3

In [77]:
def cost(nights):
    print (1500*nights)
    def plane_ride_cost(city):
        hour = int(input("Enter the no.of hours: "))
        sel = int(input("Choose Any one:\n1 for CMBT\n2 for AnnaNagar\n3 for OMR"))
        if sel == 1:
            print( "The amount to be paid is",hour*183)
        elif sel == 2:
            print( "The amount to be paid is" ,hour*222)
        elif sel == 3:
            print( "The amount to be paid is", hour*475)
    plane_ride_cost(sel)
cost(nights = int(input("Enter the no.of nights stayed: ")))

Enter the no.of nights stayed: 5
7500
Enter the no.of hours: 8
Choose Any one:
1 for CMBT
2 for AnnaNagar
3 for OMR1
The amount to be paid is 1464

In [81]:
def cost(nights):
    print (1500*nights)
def plane_ride_cost(city):
    hour = int(input("Enter the no.of hours: "))
    sel = int(input("Choose Any one:\n1 for CMBT\n2 for AnnaNagar\n3 for OMR"))
    if sel == 1:
        print( "The amount to be paid is",hour*183)
    elif sel == 2:
        print( "The amount to be paid is" ,hour*222)
    elif sel == 3:
        print( "The amount to be paid is", hour*475)
    else:
        pass
plane_ride_cost(sel)
cost(nights = int(input("Enter the no.of nights stayed: ")))

Enter the no.of hours: 8
Choose Any one:
1 for CMBT
2 for AnnaNagar
3 for OMR1
The amount to be paid is 1464
Enter the no.of nights stayed: 6
9000

In [18]:
s = [265,24,98]
s.insert(2,[78,45,56])
print(s)
del(s[2][2])
print(s)
s.remove(2)
s

[265, 24, [78, 45, 56], 98]
[265, 24, [78, 45], 98]

ValueError: list.remove(x): x not in list

In [44]:
def func_name():
    l = []
    fp = open("Arjun.txt")
    a = fp.readlines()
    for i in range(len(a)):
        val = a[i].replace("\n","")
        val = val.split(" ")
        print(val)
        if val[0].lower() == "append":
            l.append(val[1])
        elif val[0].lower() == "insert":
            l.insert(int(val[1]),int(val[2]))
        elif val[0].lower() == "delete":
            r = val[1]
            l.pop(int(r))
        elif val[0].lower() == "update":
             l[int(val[1])] = val[2]
        print(l)
    return l
func_name()

['Append', '2']
['2']
['Append', '14']
['2', '14']
['Append', '21']
['2', '14', '21']
['insert', '2', '12']
['2', '14', 12, '21']
['append', '1']
['2', '14', 12, '21', '1']
['update', '1', '11']
['2', '11', 12, '21', '1']
['Delete', '0']
['11', 12, '21', '1']
['appEnd', '81']
['11', 12, '21', '1', '81']
['delete', '2']
['11', 12, '1', '81']
['insert', '1', '14']
['11', 14, 12, '1', '81']
['Append', '4']
['11', 14, 12, '1', '81', '4']
['Append', '12']
['11', 14, 12, '1', '81', '4', '12']
['Delete', '2']
['11', 14, '1', '81', '4', '12']

['11', 14, '1', '81', '4', '12']

file
input - update delete insert(position)
lst append()