In [6]:
#basic syntax
"""Arjun"""

'Arjun'

In [8]:
#indentation
a= int(input("Enter a num:"))
if a==5:
    print("Done")

Enter a num:5
Done

In [9]:
x = 5645
char = "Arjun"
num = "789"
print(type(x))

<class 'int'>

In [10]:
type(num)

str

In [11]:
type(char)

str

In [18]:
a = 5j
print(type(a))

<class 'complex'>

In [20]:
#Arithmetic Operators
print(1+5)
print(1-5)
print(1*5)
print(1/5)
print(1//5)
print(1%5)
print(1**5)

6
-4
5
0.2
0
1
1

In [21]:
#Assignment Operators
x = 5
print(x)

5

In [23]:
x+= 10
print(x)

25

In [24]:
x-= 20
print(x)

5

In [25]:
x/=10
print(x)

0.5

In [26]:
x*= 10
print(x)

5.0

In [27]:
#comparison Operatpors
a=5
b=10
a == b

False

In [28]:
a!=b

True

In [29]:
a<=b

True

In [30]:
a>=b

False

#logical Operators
and
or
not

In [31]:
x = 5
x<10 and x>3

True

In [32]:
x<5 or x>3

True

In [33]:
not(x<5 or x>3)

False

In [34]:
#identity Operators
a = "Arjun"
b = "Arjun"
a is b

True

In [36]:
c = b
c is not a

False

#membership Operatoprs
in 
not in

In [40]:
a = ["Python","Java"]
b = "Python"
b in a

True

In [41]:
b not in a

False

if else

In [42]:
a = 5
if a == 5:
    print("VAlue of a is 5")

VAlue of a is 5

In [ ]:
a = 5
if a == 5:
    print("VAlue of a is 5")
else:
    print("Value of a is not 5")

In [43]:
a = 5
if a == 5:
    print("VAlue of a is 5")
elif a>5:
    print("Value of a is greater than 5")
else:
    print("Value of a is not 5")

VAlue of a is 5

In [ ]:
#while loop stops when the condition becomes false
num = int(input("Enter a number: "))
while num>6:
    print(num)
    num += 1

In [5]:
#while loop stops when the condition becomes false
num = int(input("Enter a number: "))
while num<6:
    print(num)
    if num == 3:
        break
    num += 1

Enter a number: 1
1
2
3

In [6]:
num = int(input("Enter a number: "))
while num<6:
    print(num)
    if num == 3:
        pass
    num += 1

Enter a number: 1
1
2
3
4
5

In [8]:
num = int(input("Enter a number: "))
while num<6:
    
    num += 1
    if num == 3:
        continue
    print(num)

Enter a number: 1
2
4
5
6

In [10]:
num = int(input("Enter a number: "))
while num<=6:
    print(num)
    num += 1
else:
    print("num is greater than six")

Enter a number: 1
1
2
3
4
5
6
num is greater than six

In [11]:
#for loop 
a = ["a","r","j","u","n"]
for x in a:
    print(x)

a
r
j
u
n

In [12]:

for x in "banana":
    print(x)

b
a
n
a
n
a

In [18]:
for x in "banana":
    
    if x != "n":
        print(x)
    else:
        break

b
a

In [19]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10,2):
    print(i)
else:
    print("Finished")

0
2
4
6
8
Finished

In [23]:
a = ["a",'r','j','u','n']
b = ['p','a','v','a','n']
for x in a:
    for y in b:
        print (x,y)

a p
a a
a v
a a
a n
r p
r a
r v
r a
r n
j p
j a
j v
j a
j n
u p
u a
u v
u a
u n
n p
n a
n v
n a
n n

In [24]:
for i in range(len("Arjun")):
    print(i)

0
1
2
3
4

In [27]:
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
    
        x += 1
        print(i,x)

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
2 19
2 20
2 21
2 22
2 23
2 24
2 25
2 26
2 27
3 28
3 29
3 30
3 31
3 32
3 33
3 34
3 35
3 36
4 37
4 38
4 39
4 40
4 41
4 42
4 43
4 44
4 45
5 46
5 47
5 48
5 49
5 50
5 51
5 52
5 53
5 54
6 55
6 56
6 57
6 58
6 59
6 60
6 61
6 62
6 63
7 64
7 65
7 66
7 67
7 68
7 69
7 70
7 71
7 72
8 73
8 74
8 75
8 76
8 77
8 78
8 79
8 80
8 81
9 82
9 83
9 84
9 85
9 86
9 87
9 88
9 89
9 90

In [31]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        print(i,j)
        if var % 2 == 0:
            continue
            var += 1
            
            
    var+=1
else:
    var+=1
print(var)

0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
21

In [35]:
for num in range(10, 14):
    for i in range(2, num):
      
        if num%i == 1:
            print(num)
            break

10
11
12
13

In [36]:
if 20:
    print("true")

true

In [39]:
if 0:
    print("True")