Dictionary - key and value are seperated by colon
each element is seperated by comma
dictionary is mutable
{Key:Value,Key1:Value}

In [28]:
dictionary = {"name":"Mike","phone number":"958746213","Dept":"Btech"}

In [29]:
type(dictionary)

dict

In [30]:
dictionary["Dept"]

'Btech'

In [31]:
for i in dictionary:
    print(i,dictionary[i])

name Mike
phone number 958746213
Dept Btech

In [56]:
import pandas as pd
print(dictionary)
df = pd.DataFrame(dictionary,index=(0,1,2,3))
df

{'name': 'Mike', 'phone number': '958746213', 'Dept': 'Btech'}

   name phone number   Dept
0  Mike    958746213  Btech
1  Mike    958746213  Btech
2  Mike    958746213  Btech
3  Mike    958746213  Btech

In [36]:
df.columns[0]

'name'

In [52]:
name = list(df[df.columns[0]])
name

['Mike', 'Mike', 'Mike']

In [55]:
l = []
dct = {}

for i in range(len(df.columns)):
    
    dct[df.columns[i]] = df.columns[l]

In [7]:
import pandas as pd
dictionary = {"name":["Mike","Raj","Raj"],"phone number":[958746213,56649898,484877787],"Dept":["Btech","CSE","IT"]}
Dictionary1 = pd.DataFrame(dictionary,index=(1,3,5))
Dictionary1

   name  phone number   Dept
1  Mike     958746213  Btech
3   Raj      56649898    CSE
5   Raj     484877787     IT

In [13]:
d=dict()
for i in range(1,21,2):
    d[i]=i*2
print(d)

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18, 11: 22, 13: 26, 15: 30, 17: 34, 19: 38}

In [8]:
d=dict()
for i in range(1,21,2):
    d[i]=i*i*i
print(d)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 11: 1331, 13: 2197, 15: 3375, 17: 4913, 19: 6859}

In [10]:
d = {i:2*i for i in range (1,21,2)}
d

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18, 11: 22, 13: 26, 15: 30, 17: 34, 19: 38}

write a proram that prompts the user to enter a message . now count and print the number of occurence of each character

In [16]:
did = {"fd":{"cs":90,"Math": 100,"Eng":56},
      "sd":{"cs":120,"Math": 10,"Eng":6}}

In [17]:
for k,v in did.items():
    print(k,v)

fd {'cs': 90, 'Math': 100, 'Eng': 56}
sd {'cs': 120, 'Math': 10, 'Eng': 6}

In [19]:
did.get("fd")

{'cs': 90, 'Math': 100, 'Eng': 56}

In [20]:
did["fd"]

{'cs': 90, 'Math': 100, 'Eng': 56}

# write a proram that prompts the user to enter a message . now count and print the number of occurence of each character

In [25]:
msg = input("Enter the messgae: \n")
msg = msg.lower()
d = dict()
for word in msg:
    if word not in d:
        d[word] = 1
    else:
        d[word] = d[word]+1
print(d)

Enter the messgae:
Hello Arjun
{'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1, 'a': 1, 'r': 1, 'j': 1, 'u': 1, 'n': 1}

write a program to count the number of characters in the string and store them in a dictionary datastructure

In [30]:
string = input("Enter a string: ")
l = len(string)
d = {string: len(string)}

Enter a string: aRJUN

In [32]:
d

{'aRJUN': 5}

In [36]:
ord("@")

64

Write a program that combines a list to a dictionary

In [14]:
a = ["Mike","Sars"]
r = ["start","stop"]
d = zip(r,a)
res = dict(d)

In [15]:
res

{'start': 'Mike', 'stop': 'Sars'}

In [44]:
a = ["Mike","Sars"]
r = ["start","stop"]
d = zip(a,r)
d

Write a program to make a quiz. Use zip function to extract the question into and answer into two seperate list

In [ ]:
name = input("Enter Your Name: ")
unique_id = int(input("Enter Unique ID: "))
dep = input("Enter your Department: ")
while True:
    QUESTIONS = [
        ("1. What is a correct syntax to output 'Hello World' in Python?", 'print("Hello World")'),
        ("2. How do you insert COMMENTS in Python code?", "#"),
        ("3. Which keyword is used to loop over a given list of elements", "for" ),
        ("4. Which method can be used to return a string in upper case letters?", "upper()"),
        ("5. Which operator can be used to compare two values?", "=="),
        ("6. Which Bracket is used for creating a list?", "[]"),
        ("7. Which collection is ordered, changeable, and allows duplicate members?", "list"),
        ("8. Which statement is used to stop a loop?","break"),
        ("9. How to count the length of the string entered?", "len()"),
        ("10. How to find the Datatype in Python?", "type()"),
    ]
    count = 0
    for question, correct_answer in QUESTIONS:
        answer = input(f"{question}? ")
        if answer == correct_answer:
            count +=  1
    if count > 6:
        print("Yayy !! That's a good score with",(count/len(QUESTIONS))*100,"%")
    else:
        print("Its okay! Try Again .You can score better than",(count/len(QUESTIONS))*100,"%")
    flag = input("Do you want to attend the test again. Enter yes to continue and exit to end the program\n")
    if flag == "exit":
        break
    elif flag == "yes":
        pass
    else:
        print("Sorry, Enter an valid input")

In [73]:
msg = input("Enter the messgae: \n")
msg = msg.lower()
d = dict()
for word in msg:
    
    if word in ["a","e","i","o","u"]:
        if word not in d:
            d[word] = 1
        else:
            d[word] = d[word]+1
print(d)

Enter the messgae:
Hello world
{'e': 1, 'o': 2}