In [4]:
#reversing list without index
num = [2,5,58,98]
num.reverse()
num

[98, 58, 5, 2]

In [17]:
num = [2,5,58,98]
sq = []
for i in num:
    sq.append(i*i)
print(sq)

[4, 25, 3364, 9604]

In [19]:
num = [2,5,58,98]
sq = []
for i in range(len(num)):
    sq.append(num[i]*num[i])
print(sq)

[4, 25, 3364, 9604]

In [4]:
num = [45,48,89]
odd = []
even = []
for i in range(len(num)):
    if(num[i]%2 !=0):
        odd.append(num[i])
    else:
        even.append(num[i])

In [5]:
odd

[45, 89]

In [6]:
even

[48]

In [2]:
num = [89,56,23,45]
a = num.sort()
num

[23, 45, 56, 89]

In [7]:
l = [45,48,89]
odd = []
even = []
for i in l:
    if(i%2 == 1):
        odd.append(i)
    else:
        even.append(i)

In [9]:
#get input from user for appending in list
num = []
count = int(input("Enter the number of Elements you have to store: "))
for i in range (count):
    num.append(int(input("Enter the number: ")))
print("The final list is ",num)

Enter the number of Elements you have to store: 2
Enter the number: 45
Enter the number: 78
The final list is  [45, 78]

In [13]:
 num.reverse()
print(num)
num.sort()
print(num)

[78, 45]
[45, 78]

In [14]:
num = []
count = int(input("Enter the number of Elements you have to store: "))
for i in range (count):
    num.append(int(input("Enter the number: ")))
print("The final list is ",num)
odd = []
even = []
for i in num:
    if(i%2 == 0):
        even.append(i)
    else:
        odd.append(i)
print("The original list is",num)
print("The even list is: ",even)
print("The odd list is: ",odd)

Enter the number of Elements you have to store: 5
Enter the number: 45
Enter the number: 65
Enter the number: 78
Enter the number: 14
Enter the number: 12
The final list is  [45, 65, 78, 14, 12]
The original list is [45, 65, 78, 14, 12]
The even list is:  [78, 14, 12]
The odd list is:  [45, 65]

In [17]:
#removing duplicate elements from list
num = [45,56,78,45,23,56]
set(num)

{23, 45, 56, 78}

In [18]:
type(num)

list

### Write a program that prompts a number from the user and adds it to a list. if the value entered by the user is greater than 100, then add "excess" to the list

In [3]:
num = []
count = int(input("Enter the number of elements:"))
for i in range(count):
    a = int(input("Enter the Number:"))
    if(a<100):
        num.append(a)
    else:
        num.append("Excess")
num

Enter the number of elements:5
Enter the Number:47
Enter the Number:12
Enter the Number:45
Enter the Number:152
Enter the Number:582

[47, 12, 45, 'Excess', 'Excess']

In [55]:
num

[12, 15, 14]

In [22]:
r=[ 45,78,56,23,45 ]
i=25
if i in r:
    print("exists")
else:
    print(" does not exist")

 does not exist

In [27]:
num = [45]
count = int(input("Enter the number of elements:"))
for i in range(count):
    a = int(input("Enter the NUmber:"))
    if a in num:
        print("exists")
    else:
        print(" does not exist")

Enter the number of elements:3
Enter the NUmber:45
exists
Enter the NUmber:56
 does not exist
Enter the NUmber:25
 does not exist

In [9]:
l=[4,5,2,3]
a=int(input('Enter element to search:'))
for i in l:
    if a==i:
        print('Element Present at:',i+1)
    else:
        pass

Enter element to search:2
Element Present at: 3

a = [] 
b = [] 
for i in range(1, 51):
    a.append(x)
for i in range(1, 51): 
    if(x%3 == 0) or (x % 6 == 0): 
        b.append(x) 
print("The numbers divisible by 3 or 6 is " , s)

In [37]:
l = []
for i in range(1,51):
    if(i%3 == 0 or i%6 == 0):
        l.append(i)
print("The numbers between 1-50 that are divisible by 3 or 6 is",l)

The numbers between 1-50 that are divisible by 3 or 6 is [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [38]:
#del element in list
r = [1,84,56]
del r[0:2]

In [39]:
r

[56]

# Tuple

In [40]:
num = (56,23,54)
num

(56, 23, 54)

In [41]:
type(num)

tuple

In [42]:
#Tuple and string are immutable
del num[1]

TypeError: 'tuple' object doesn't support item deletion

In [43]:
num.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
#divmod
#order is important(1.quotient; 2.Remainder)
q,r = divmod(100,5)
print(q)
print(r)

20
0

In [51]:
# swapping of two numbers with temp var
a=10
b= 20
print("befor swapping a is",a,"b is",b)
temp=a  # temp = 10
a=b     # a=20
b=temp  # b=10 
print("after swapping a is",a,"b is",b)

befor swapping a is 10 b is 20
after swapping a is 20 b is 10

In [50]:
#without temp variable
a=10
b=20      
print("Before swap value of a is",a ,"and b is",b )      
a=a+b   #a = 30 
b=a-b   #b = 10
a=a-b   #a = 20 
print("After swap value of a is",a ,"and b is",b )

Before swap value of a is 10 and b is 20
After swap value of a is 20 and b is 10

In [49]:
#just exchange values with the help of","
a = 50
b = 89
a,b = b,a
print(b,a)

50 89